In [1]:
import pandas as pd

# Load the datasets
mine_df = pd.read_csv(r'Mine.csv')
sales_df = pd.read_csv(r'Sales.csv')

print(mine_df.head(5))
print()
print(sales_df.head(5).to_string())

   Duration         Date  Pulse  Maxpulse  Calories
0        60  2023/10/01'  110.0     130.0     409.1
1        60  2023/10/02'  117.0     145.0     479.0
2        60  2023/10/03'  103.0     135.0     340.3
3        45  2023/10/04'  109.0     175.0     282.4
4        45  2023/10/05'  117.0     150.0     405.1

   Order ID  Customer Name   Order Date   Product  Quantity  Unit Price  Total Revenue
0      1001       John Doe   01/01/2024  Widget A      10.0        25.0          250.0
1      1002     Jane Smith   01/02/2024  Widget B       5.0        40.0          200.0
2      1003            NaN  2024/01/03'  Widget A       NaN        25.0            NaN
3      1004  Alice Johnson   04/01/2024  Widget C       3.0         NaN          210.0
4      1005      Bob Brown  2024/01/05'  Widget B      10.0        40.0          400.0

In [2]:
# Missing values / Empty cells
# check for missing values
print(mine_df.isnull().sum())
print()

print(sales_df.isnull().sum())

Duration    0
Date        2
Pulse       1
Maxpulse    2
Calories    4
dtype: int64

Order ID         0
Customer Name    1
Order Date       0
Product          0
Quantity         1
Unit Price       1
Total Revenue    1
dtype: int64

In [3]:
# Handling missing values
#get the mode of each column and store it in a dictionary
mode_values = {col: mine_df[col].mode()[0] for col in mine_df.columns}

# Fill NaN values with the mode of each column
mine_df.fillna(mode_values, inplace=True)

print(mine_df)

print()

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2023/10/01'  110.0     130.0     409.1
1         60  2023/10/02'  117.0     145.0     479.0
2         60  2023/10/03'  103.0     135.0     340.3
3         45  2023/10/04'  109.0     175.0     282.4
4         45  2023/10/05'  117.0     150.0     405.1
5         60  2023/10/06'  103.0     125.0     300.0
6         60  2023/10/07'  110.0     135.0     374.0
7        400  2023/10/08'  114.0     133.0     240.8
8         60  2023/10/09'  112.0     126.0     193.8
9         30  2023/10/10'  102.0     147.0     234.8
10        60  2023/10/11'  100.0     129.0     375.3
11        60  2023/10/12'  109.0     131.0     345.6
12        60  2023/10/13'  103.0     136.0     239.2
13        60  2023/10/15'  120.0     125.0     240.8
14        60  2023/10/15'  120.0     100.0     240.8
15        60  2023/10/16'  103.0     101.0     243.8
16        60  2023/10/17'  127.0     102.0     380.2
17        45     20231018  142.0     103.0     241.4
18        60  2023/10/19'  151.0     104.0     240.8
19        60  2023/10/20'  162.0     105.0     300.9
20        60  2023/10/21'  100.0     106.0     280.0
21        60  2023/10/22'  103.0     107.0     240.8
22        60  2023/10/15'  130.0     108.0     230.8
23        60  2023/10/24'  134.0     125.0     239.7
24        60  2023/10/25'  132.0     110.0     236.9
25        60  2023/10/26'  135.0     118.0     278.8
26        60  2023/10/27'  137.0     119.0     212.9
27        60  2023/10/28'  138.0     121.0     345.9
28        60  2023/10/29'  139.0     122.0     345.2
29        60  2023/10/15'   92.0     125.0     380.5
30        60  2023/10/31'   94.0     126.0     240.8

In [4]:
# Handling missing values
#get the mode of each column and store it in a dictionary
mode_values = {col: sales_df[col].mode()[0] for col in sales_df.columns}

# Fill NaN values with the mode of each column
sales_df.fillna(mode_values, inplace=True)

print(sales_df.to_string())

print()

   Order ID  Customer Name   Order Date   Product  Quantity  Unit Price  Total Revenue
0      1001       John Doe   01/01/2024  Widget A      10.0        25.0          250.0
1      1002     Jane Smith   01/02/2024  Widget B       5.0        40.0          200.0
2      1003       John Doe  2024/01/03'  Widget A      10.0        25.0          250.0
3      1004  Alice Johnson   04/01/2024  Widget C       3.0        25.0          210.0
4      1005      Bob Brown  2024/01/05'  Widget B      10.0        40.0          400.0
5      1006       John Doe   06/01/2024  Widget A       4.0        25.0          100.0
6      1001       John Doe   01/01/2024  Widget A      10.0        25.0          250.0
7      1007     Jane Smith   07/01/2024  Widget C      -6.0        70.0         -420.0

In [5]:
# 2. Handling Inconsistent date formats

from datetime import datetime

def convert_dates(df):
    current_date = datetime.now().date()
    for col in df.columns:
        if 'date' in col.lower():
            df[col] = df[col].fillna(current_date).apply(lambda x: pd.to_datetime(x, errors='coerce'))


convert_dates(mine_df)
convert_dates(sales_df)

print(mine_df.to_string())
print()
print(sales_df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2023-10-01  110.0     130.0     409.1
1         60 2023-10-02  117.0     145.0     479.0
2         60 2023-10-03  103.0     135.0     340.3
3         45 2023-10-04  109.0     175.0     282.4
4         45 2023-10-05  117.0     150.0     405.1
5         60 2023-10-06  103.0     125.0     300.0
6         60 2023-10-07  110.0     135.0     374.0
7        400 2023-10-08  114.0     133.0     240.8
8         60 2023-10-09  112.0     126.0     193.8
9         30 2023-10-10  102.0     147.0     234.8
10        60 2023-10-11  100.0     129.0     375.3
11        60 2023-10-12  109.0     131.0     345.6
12        60 2023-10-13  103.0     136.0     239.2
13        60 2023-10-15  120.0     125.0     240.8
14        60 2023-10-15  120.0     100.0     240.8
15        60 2023-10-16  103.0     101.0     243.8
16        60 2023-10-17  127.0     102.0     380.2
17        45 2023-10-18  142.0     103.0     241.4
18        60 2023-10-19  151.0     104.0     240.8
19        60 2023-10-20  162.0     105.0     300.9
20        60 2023-10-21  100.0     106.0     280.0
21        60 2023-10-22  103.0     107.0     240.8
22        60 2023-10-15  130.0     108.0     230.8
23        60 2023-10-24  134.0     125.0     239.7
24        60 2023-10-25  132.0     110.0     236.9
25        60 2023-10-26  135.0     118.0     278.8
26        60 2023-10-27  137.0     119.0     212.9
27        60 2023-10-28  138.0     121.0     345.9
28        60 2023-10-29  139.0     122.0     345.2
29        60 2023-10-15   92.0     125.0     380.5
30        60 2023-10-31   94.0     126.0     240.8

   Order ID  Customer Name Order Date   Product  Quantity  Unit Price  Total Revenue
0      1001       John Doe 2024-01-01  Widget A      10.0        25.0          250.0
1      1002     Jane Smith 2024-01-02  Widget B       5.0        40.0          200.0
2      1003       John Doe 2024-01-03  Widget A      10.0        25.0          250.0
3      1004  Alice Johnson 2024-04-01  Widget C       3.0        25.0          210.0
4      1005      Bob Brown 2024-01-05  Widget B      10.0        40.0          400.0
5      1006       John Doe 2024-06-01  Widget A       4.0        25.0          100.0
6      1001       John Doe 2024-01-01  Widget A      10.0        25.0          250.0
7      1007     Jane Smith 2024-07-01  Widget C      -6.0        70.0         -420.0

In [21]:
# 3.  Duplicate rows.

# Check for duplicate rows
# duplicate_rows = df.duplicated()
duplicate_rows = mine_df.duplicated()
sales_duplicate_rows = sales_df.duplicated()

print("\nDuplicate rows:")
print(mine_df[duplicate_rows])
print()
print(sales_df[sales_duplicate_rows].to_string())
# Handling duplicate rows
#Drop duplicate rows

mine_df.drop_duplicates(inplace=True)
sales_df.drop_duplicates(inplace=True)

Duplicate rows:
Empty DataFrame
Columns: [Duration, Date, Pulse, Maxpulse, Calories]
Index: []

Empty DataFrame
Columns: [Order ID, Customer Name, Product, Quantity, Unit Price, Total Revenue]
Index: []

In [29]:
# 4. Handle wrong Data

# Replace negative values in numerical columns with column mean

def negatives_rep(df):
    for col in df.select_dtypes(include=['float64', 'int64']).columns:
        mean_value = df[col][df[col] >= 0].mean()
        df[col] = df[col].apply(lambda x: mean_value if x < 0 else x)

negatives_rep(mine_df)
negatives_rep(sales_df)

print(mine_df)
print(sales_df)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2023-10-01  110.0     130.0     409.1
1         60 2023-10-02  117.0     145.0     479.0
2         60 2023-10-03  103.0     135.0     340.3
3         45 2023-10-04  109.0     175.0     282.4
4         45 2023-10-05  117.0     150.0     405.1
5         60 2023-10-06  103.0     125.0     300.0
6         60 2023-10-07  110.0     135.0     374.0
7        400 2023-10-08  114.0     133.0     240.8
8         60 2023-10-09  112.0     126.0     193.8
9         30 2023-10-10  102.0     147.0     234.8
10        60 2023-10-11  100.0     129.0     375.3
11        60 2023-10-12  109.0     131.0     345.6
12        60 2023-10-13  103.0     136.0     239.2
13        60 2023-10-15  120.0     125.0     240.8
14        60 2023-10-15  120.0     100.0     240.8
15        60 2023-10-16  103.0     101.0     243.8
16        60 2023-10-17  127.0     102.0     380.2
17        45 2023-10-18  142.0     103.0     241.4
18        60 2023-10-19  151.0     104.0     240.8
19        60 2023-10-20  162.0     105.0     300.9
20        60 2023-10-21  100.0     106.0     280.0
21        60 2023-10-22  103.0     107.0     240.8
22        60 2023-10-15  130.0     108.0     230.8
23        60 2023-10-24  134.0     125.0     239.7
24        60 2023-10-25  132.0     110.0     236.9
25        60 2023-10-26  135.0     118.0     278.8
26        60 2023-10-27  137.0     119.0     212.9
27        60 2023-10-28  138.0     121.0     345.9
28        60 2023-10-29  139.0     122.0     345.2
29        60 2023-10-15   92.0     125.0     380.5
30        60 2023-10-31   94.0     126.0     240.8
   Order ID  Customer Name   Product  Quantity  Unit Price  Total Revenue
0      1001       John Doe  Widget A      10.0        25.0          250.0
1      1002     Jane Smith  Widget B       5.0        40.0          200.0
2      1003       John Doe  Widget A      10.0        25.0          250.0
3      1004  Alice Johnson  Widget C       3.0        25.0          210.0
4      1005      Bob Brown  Widget B      10.0        40.0          400.0
5      1006       John Doe  Widget A       4.0        25.0          100.0
7      1007     Jane Smith  Widget C       7.0        70.0          235.0

In [20]:
print(mine_df.isnull().sum())
print()
print(sales_df.isnull().sum())

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

Order ID         0
Customer Name    0
Product          0
Quantity         0
Unit Price       0
Total Revenue    0
dtype: int64

In [30]:
# 5. Unnecessary columns that are not relevant to the analysis.

# Assuming 'Order Date' is unnecessary in Sales dataset
if 'Order Date' in sales_df.columns:
    sales_df.drop(columns=['Order Date'], inplace=True)
    
    
print(sales_df.head(5).to_string())

   Order ID  Customer Name   Product  Quantity  Unit Price  Total Revenue
0      1001       John Doe  Widget A      10.0        25.0          250.0
1      1002     Jane Smith  Widget B       5.0        40.0          200.0
2      1003       John Doe  Widget A      10.0        25.0          250.0
3      1004  Alice Johnson  Widget C       3.0        25.0          210.0
4      1005      Bob Brown  Widget B      10.0        40.0          400.0

In [23]:
# Save cleaned datasets to new CSV files
mine_df.to_csv('Mine_cleaned.csv', index=False)
sales_df.to_csv('Sales_cleaned.csv', index=False)

In [27]:
# Output the cleaned datasets
mine_df_cleaned = pd.read_csv('Mine_cleaned.csv')
sales_df_cleaned = pd.read_csv('Sales_cleaned.csv')

mine_df_cleaned.head(), sales_df_cleaned.head()

print(mine_df_cleaned)
print()
print(sales_df_cleaned)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2023-10-01  110.0     130.0     409.1
1         60  2023-10-02  117.0     145.0     479.0
2         60  2023-10-03  103.0     135.0     340.3
3         45  2023-10-04  109.0     175.0     282.4
4         45  2023-10-05  117.0     150.0     405.1
5         60  2023-10-06  103.0     125.0     300.0
6         60  2023-10-07  110.0     135.0     374.0
7        400  2023-10-08  114.0     133.0     240.8
8         60  2023-10-09  112.0     126.0     193.8
9         30  2023-10-10  102.0     147.0     234.8
10        60  2023-10-11  100.0     129.0     375.3
11        60  2023-10-12  109.0     131.0     345.6
12        60  2023-10-13  103.0     136.0     239.2
13        60  2023-10-15  120.0     125.0     240.8
14        60  2023-10-15  120.0     100.0     240.8
15        60  2023-10-16  103.0     101.0     243.8
16        60  2023-10-17  127.0     102.0     380.2
17        45  2023-10-18  142.0     103.0     241.4
18        60  2023-10-19  151.0     104.0     240.8
19        60  2023-10-20  162.0     105.0     300.9
20        60  2023-10-21  100.0     106.0     280.0
21        60  2023-10-22  103.0     107.0     240.8
22        60  2023-10-15  130.0     108.0     230.8
23        60  2023-10-24  134.0     125.0     239.7
24        60  2023-10-25  132.0     110.0     236.9
25        60  2023-10-26  135.0     118.0     278.8
26        60  2023-10-27  137.0     119.0     212.9
27        60  2023-10-28  138.0     121.0     345.9
28        60  2023-10-29  139.0     122.0     345.2
29        60  2023-10-15   92.0     125.0     380.5
30        60  2023-10-31   94.0     126.0     240.8

   Order ID  Customer Name   Product  Quantity  Unit Price  Total Revenue
0      1001       John Doe  Widget A      10.0        25.0          250.0
1      1002     Jane Smith  Widget B       5.0        40.0          200.0
2      1003       John Doe  Widget A      10.0        25.0          250.0
3      1004  Alice Johnson  Widget C       3.0        25.0          210.0
4      1005      Bob Brown  Widget B      10.0        40.0          400.0
5      1006       John Doe  Widget A       4.0        25.0          100.0
6      1007     Jane Smith  Widget C       7.0        70.0          235.0